
# intermediate files
*.aux
*.bbl
*.blg
*.dvi
*.ilg
*.lof
*.log
*.lot
*.mtc
*.out
*.ps
*.toc

# extra files/dirs
Humboldt-template/
References/
ResearchTree.key
pdfa.xmpi
taupnotes.txt
tmp/



# final pdf
*.pdf
